@media (min-width: 1024px) {
  .imagetext {
    display: flex;
    flex-direction: row-reverse;
  }
  .logotext {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 50px;
  }
  .text {
    width: 60%;
  }
  .logo {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .imagetext {
    display: flex;
    flex-direction: column;
  }
  .logo {
    display: none;
  }
}
