@media (max-width: 768px) {
  /* Styles for screens with maximum width of 768px */
  .sidebar-text {
    border: 1px solid white;

    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* Styles for screens with minimum width of 769px and maximum width of 1024px */
}

@media (min-width: 1025px) {
  /* Styles for screens with minimum width of 1025px */
}
